#cartlistPane {
    -fx-background-color: #cfcfcf1b;
    -fx-background-radius: 10px;
}

#songNameLabel {
    -fx-font-family: "Segoe UI", Tahoma, Geneva, sans-serif;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #fefcff;
}

#priceLabel {
    -fx-font-family: "Segoe UI", Tahoma, Geneva, sans-serif;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #fefcff;
}

/* Change the appearance of the box */
.check-box .box {
    -fx-background-color: rgb(255, 255, 255);
    -fx-border-color: rgb(160, 160, 160);
    -fx-border-width: 1px;
}

/* Change the appearance when selected */
.check-box:selected .box {
    -fx-background-color: rgb(185, 95, 95);
    -fx-border-color: rgb(94, 0, 0);
}

/* Hover effect */
.check-box:hover .box {
    -fx-background-color: rgb(253, 60, 60);
}

.check-box:selected > .box > .mark {
    -fx-shape: "M22.903 2.828 20.075 0 6.641 13.435 3.102 9.09 0 11.616l6.338 7.779L22.903 2.828zM15.699,23.746,18.019,23.746,18.019,26.169,15.699,26.169";
    -fx-background-color: white; /* Checkmark color */
    -fx-scale-x: 1.5; /* Scale to make the check mark larger */
    -fx-scale-y: 1.5;
}