#mainPagePanel {
    -fx-background-color: #1c1c1c8c;
    -fx-background-radius: 10px;
}

#topArtistsLabel {
    -fx-font-size: 28px;
    -fx-text-fill: #fefcff;
}
#recommendedLabel{
    -fx-font-size: 28px;
    -fx-text-fill: #fefcff;
}