#sidebarAnchorPane {
    -fx-border-radius: 10 10 10 10;
}

#sidebarTitlePane {
    -fx-background-color: #1b1b1b;
    -fx-border-radius: 10 10 10 10;

}

#sidebarScrollPane {
    -fx-background-color: #1b1b1b;
    -fx-border-radius: 10 10 10 10;
}

#sidebarBodyPane {
    -fx-background-color: #1b1b1b;
    -fx-border-radius: 10 10 10 10;
}

#sidebarHomeLink {
    -fx-font-family: "Roboto";
    -fx-font-size: 24;
    -fx-font-weight: 700;
    -fx-text-fill: #efefef;
    -fx-focus-color: transparent;
}

#sidebarHomeLink:hover {
    -fx-text-fill: #ffffff;
}

.scroll-bar {
    -fx-background-color: transparent;
}

/* Style the track (background of the scrollbar) */
.scroll-bar .track {
    -fx-background-color: #1b1b1b;
}

/* Style the thumb (draggable part) */
.scroll-bar .thumb {
    -fx-background-color: #2c2c2c; /* Change thumb color */
    -fx-background-radius: 5; /* Make thumb rounded */
}
