#profilePane {
    -fx-background-color: #1c1c1c8c;
    -fx-background-radius: 10px;
}

#profilePane Label {
    -fx-font-family: "Segoe UI", Tahoma, Geneva, sans-serif;
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: #fefcff;
    -fx-letter-spacing: 1px;
    -fx-text-align: center;
}

#profileTitle {
    -fx-font-size: 28px;
}

#logoutButton {
    -fx-border-radius: 20 20 20 20;
    -fx-background-radius: 20 20 20 20;
    -fx-background-color: #e0e0e0;

    -fx-font-family: "Dubai";
    -fx-font-size: 16;
    -fx-font-weight: 700;
    -fx-text-fill: #0e0e0e;
}

#logoutButton:hover {
    -fx-background-color: #ffffff;
}

